<!-- Property Blocked -->

<style>
    .blocked-section {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container blocked-section">
    <div class="property-details-main">
        <h3 class="text-danger">Your property is blocked from ordering services!!! </h3>
        <div>Please contact support for help.</div>
    </div>
</div>