.demo-box {
  text-align: left;
  margin: 2em auto;
  background: white;
  border: 1px #bbb solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  padding: 0 2em 2em;
}

#data {
  display: none;
}