<section id="send_message_main_box" class="send_message_main">
    <div class="container">
        <div class="add_payment_form">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <h3 class="text-center mb-3">
                            Payment Success
                        </h3>
                        <div class="text-center">
                            <i class="fa fa-check-circle fa-4x" aria-hidden="true" style="color:green"></i>
                        </div>
                        <div class="text-center">
                            Your order successfully paid. 
                        </div>
                        <div class="text-center">Service: @ViewBag.description</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


